@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>StudyWEB</h3>
<hr />
<p><strong>StudyWEB</strong> is a modern task planner, where you can add tasks and notes to your topics.</p>
<hr />
<br />
<p><strong>Show All</strong> will fetch all your topics from database and render it on page.</p>
<br />
<p><strong>Add Topics</strong> lets you add new topics to your database.</p>
<br />
<p><strong>Search</strong> well, searches for stuff, you know?</p>
<hr />

<h4>Color coding</h4>
<p>All topics are color coded depending on their status:</p>

<p>Blue: Future topic</p>
<p>Green: Topic in progress</p>
<p>Yellow: Paused topic</p>
<p>Red: Late topic</p>
<p>Gray: Done topic</p>

