@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>StudyWEB</h3>
<hr />
<p><strong>StudyWEB</strong> is a modern task planner, where you can add tasks and notes to your topics.</p>
<hr />
<br />
<p><strong>Show All:</strong> will fetch all your topics from database and render it on page.</p>
<br />
<p><strong>Add Topics:</strong> lets you add new topics to your database.</p>
<br />
<p><strong>Search:</strong> well, searches for stuff, you know?</p>
<hr />

<h4>Color coding</h4>
<p>All topics are color coded depending on their status:</p>

<p><span style="color: blue; Background:lightgray">Blue</span>: Future topic</p>
<p><span style="color: green; Background: lightgray">Green</span>: Topic in progress</p>
<p><span style="color: yellow; Background: lightgray">Yellow</span>: Paused topic</p>
<p><span style="color: red; Background: lightgray">Red</span>: Late topic</p>
<p><span style="color: gray; Background: lightgray">Gray</span>: Done topic</p>

