@{
    ViewData["Title"] = "Topics";
}
<!--Accordion to be populated with topics-->
<div class="text-center">
    <h1>Welcome to StudyWEB!</h1>
    <p>New way to keep you up to date with your study topics.</p>
</div>
